html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

h1, p, div {
    text-align: center;
}

.newBlock
{
    text-align: center;
}

.questions
{
     display:inline-block;
}

.questions p.q1
{
    text-align: left;
}

.bottom-right-link {
    position: fixed;
    bottom: 10px; /* Adjust the distance from the bottom */
    right: 10px; /* Adjust the distance from the right */
    color: black; /* Set the text color */
    text-decoration: none; /* Remove underline */

